body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
/* list style - none*/
ul {
  list-style-type: none;
}

/* text-deca*/
a {
  text-decoration: none;
}

/* logo and nav */
nav {
  border: 1px solid #ececec;
}

/* style logo*/
.font--style--blue {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
}

.font--style--black {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
}

/*links*/
.site-nav .links {
  color: #000000;
}

.site-nav .links:hover,
.site-nav .links:focus {
  color: #2196f3;
}

/*contacts*/
.email--style {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
}

.email--style:hover,
.email--style:focus {
  color: #2196f3;
}

.number--style {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
}

/*section first*/
.main-banner {
  background-image: url(../image/headerimg.svg);
  background-repeat: no-repeat;
}
.number--style:hover,
.number--style:focus {
  color: #2196f3;
}

.font-banner-style {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*info section*/
.info-section-header {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.info-section-font {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

/*projects*/
.projects-section-header {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

.projects-description {
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/*team cards*/
.our-team {
  background: #f5f4fa;
}

.our-team-header {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-team-names {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-members-position {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}

/*costomers*/
.regular-recipients-header {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}
/*footer style*/
footer {
  background: #2f303a;
}

.font--style--white {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.email--no--decaration {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.number--no--decoration {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.street--style {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.email--footer--style {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-style {
  background-color: black;
}

.footer--number--style {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer--header--join {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer--subscribe--header {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/*portfolio*/

/*buttons list*/
.button-all {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
  background: #f5f4fa;
  color: #212121;
  border-radius: 4px;
}

.button-all:hover,
.button-all:focus {
  background: #2196f3;
}

.button-web {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  background: #f5f4fa;
  color: #212121;
  border-radius: 4px;
}
.button-web:hover,
.button-web:focus {
  background: #2196f3;
}

.button-app {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;
  background: #f5f4fa;
  color: #212121;
  border-radius: 4px;
}
.button-app:hover,
.button-app:focus {
  background: #2196f3;
}

.button-design {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  width: 103px;
  height: 38px;
  left: 865px;
  top: 174px;
  background: #f5f4fa;
  color: #212121;
  border-radius: 4px;
}
.button-design:hover,
.button-design:focus {
  background: #2196f3;
}

.button-marketing {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;
  background: #f5f4fa;
  color: #212121;
  border-radius: 4px;
}
.button-marketing:hover,
.button-marketing:focus {
  background: #2196f3;
}
.card-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
